
.container{
  .menu{
    color: white;
    background-color: #001529;
    height: calc(100vh);
  }
  .main{
    border: 1px solid green;
    .content{
      position: relative;
      padding: 0 10px;
    }
  }

}